@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  scrollbar-width: 0.1rem;
  scrollbar-color: transparent transparent;
}

*::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
  background-color: transparent;
}

*::-webkit-scrollbar-thumb,
*::-webkit-scrollbar-track {
  background-color: transparent;
}
::selection {
  background-color: #f2a0fd;
  color: #0d0d0d;
}
